@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
* {
    margin: 0;
    padding:0;
    box-sizing: border-box;
}
body{
    height: 100vh;
}
.BASLIK {
border: none;
text-align: center;
background-color: rgb(86, 86, 86);
color: white;
letter-spacing: 8px;
font-family: 'Lato', sans-serif;
margin:100px auto;
width: 20rem;
height: 4rem;
padding: 10px;
border-bottom-right-radius: 1.5rem;
border-top-left-radius: 1.5rem;
outline: 6px inset rgba(136, 0, 136, 0.675);
outline-offset: 10px;
}
.BASLIK2 {
    border: none;
    text-align: center;
    background-color: rgb(86, 86, 86);
    color: white;
    letter-spacing: 8px;
    font-family: 'Lato', sans-serif;
    font-size: 20px;
    margin:100px auto;
    width: 50rem;
    height: 4rem;
    border-bottom-right-radius: 0.7rem;
    border-top-left-radius: 0.7rem;
    outline: 0.4rem inset rgba(136, 0, 136, 0.675);
    outline-offset: 0.2rem;
    /* overflow: hidden; */
}

.BASLIK3 {
border: none;
text-align: center;
background-color: rgb(86, 86, 86);
color: white;
letter-spacing: 8px;
font-family: 'Lato', sans-serif;
margin:100px auto;
width: 30rem;
height: 4rem;
padding: 10px;
border-bottom-right-radius: 1.5rem;
border-top-left-radius: 1.5rem;
outline: 6px inset rgba(136, 0, 136, 0.675);
outline-offset: 10px;
}

.BASLIK4 {
    border: none;
    text-align: center;
    background-color: rgb(86, 86, 86);
    color: white;
    letter-spacing: 8px;
    font-family: 'Lato', sans-serif;
    margin:100px auto;
    width: 40rem;
    height: 4rem;
    padding: 10px;
    border-bottom-right-radius: 1.5rem;
    border-top-left-radius: 1.5rem;
    outline: 6px inset rgba(136, 0, 136, 0.675);
    outline-offset: 10px;
}

#resim1{
    width:500px;
    opacity: 5px;
}
.container-img{
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
.container1{
    height: 100vh;
    background-image: url(./bg.jpg);
    min-height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.container2{
    height: 100vh;
    background-image: url(./bg1.jpg);
    min-height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0.7;
}
.container3{
    height: 100vh;
    background-image: url(./bg2.jpg);
    min-height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.container4{
    height: 100vh;
    background-image: url(./bg3.jpg);
    min-height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.container5{
    height: 100vh;
    background-image: url(./bg4.jpg);
    min-height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.paragraf1{
    background-color: #F1F1F1;
    text-align: center;
    line-height: 2rem;
    padding: 1.5rem 4rem 1.5rem 4rem;
    font-family: 'Lato', sans-serif;
    justify-content: center;
}
.paragraf1 h2{
    text-align: center;
    padding-top: 2rem;
    padding-bottom: 1.5rem;
}
.paragraf2{
    background-color: rgb(39, 46, 52);
    color: white;
    text-align: center;
    line-height: 2rem;
    padding: 1.5rem 5rem 3rem 5rem;
    font-family: 'Lato', sans-serif;
    justify-content: center;
}
.paragraf2 h2{
    text-align: center;
    padding-top: 2rem;
    padding-bottom: 1.5rem;
}

.paragraf3{
    background-color: #F1F1F1;
    text-align: center;
    line-height: 2rem;
    padding: 1.5rem 4rem 1.5rem 4rem;
    font-family: 'Lato', sans-serif;
    justify-content: center;
}
.paragraf3 h2{
    text-align: center;
    padding-top: 2rem;
    padding-bottom: 1.5rem;
}

.paragraf4{
    


    background-color: rgb(39, 46, 52);
    color: white;
    text-align: center;
    line-height: 2rem;
    padding: 1.5rem 5rem 3rem 5rem;
    font-family: 'Lato', sans-serif;
    justify-content: center;
}
.paragraf4 h2{
    text-align: center;
    padding-top: 2rem;
    padding-bottom: 1.5rem;
}